<%= form_with model: [@shift,@worker] do |f| %>
    <table border="1" >
        <tr>
            <td rowspan="2"><%= f.collection_select :staff_id, @staffs, :id, :name %></td>
            <% case @shift.month %>
                <% when 2 then %>
                    <td><%= f.collection_select :day1, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day2, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day3, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day4, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day5, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day6, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day7, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day8, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day9, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day10, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day11, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day12, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day13, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day14, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day15, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day16, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day17, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day18, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day19, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day20, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day21, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day22, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day23, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day24, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day25, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day26, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day27, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day28, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                <% when (4 or 6 or 9 or 11) then %>
                    <td><%= f.collection_select :day1, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day2, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day3, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day4, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day5, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day6, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day7, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day8, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day9, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day10, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day11, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day12, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day13, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day14, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day15, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day16, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day17, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day18, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day19, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day20, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day21, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day22, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day23, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day24, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day25, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day26, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day27, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day28, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day29, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day30, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                <% else %>
                    <td><%= f.collection_select :day1, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day2, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day3, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day4, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day5, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day6, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day7, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day8, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day9, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day10, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day11, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day12, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day13, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day14, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day15, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day16, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day17, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day18, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day19, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day20, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day21, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day22, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day23, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day24, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day25, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day26, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day27, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day28, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day29, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day30, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
                    <td><%= f.collection_select :day31, @work_patterns, :id, :name, {include_blank: '指定なし'} %></td>
            <% end %>
        </tr>
        <tr>
            <% case @shift.month %>
                <% when 2 then %>
                    <td><%= f.text_field :day1_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day2_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day3_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day4_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day5_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day6_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day7_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day8_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day9_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day10_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day11_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day12_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day13_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day14_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day15_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day16_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day17_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day18_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day19_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day20_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day21_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day22_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day23_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day24_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day25_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day26_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day27_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day28_note, maxlength: 4 %></td>
                <% when (4 or 6 or 9 or 11) then %>
                    <td><%= f.text_field :day1_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day2_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day3_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day4_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day5_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day6_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day7_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day8_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day9_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day10_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day11_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day12_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day13_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day14_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day15_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day16_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day17_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day18_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day19_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day20_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day21_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day22_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day23_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day24_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day25_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day26_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day27_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day28_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day29_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day30_note, maxlength: 4 %></td>
                <% else %>
                    <td><%= f.text_field :day1_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day2_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day3_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day4_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day5_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day6_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day7_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day8_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day9_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day10_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day11_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day12_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day13_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day14_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day15_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day16_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day17_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day18_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day19_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day20_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day21_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day22_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day23_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day24_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day25_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day26_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day27_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day28_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day29_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day30_note, maxlength: 4 %></td>
                    <td><%= f.text_field :day31_note, maxlength: 4 %></td>
            <% end %>
        </tr>
        <tr>
            <td>
                <%= f.submit "変更する" %>
            </td>
        </tr>
    </table>
<% end %>